.titulo-texto-2{
  max-width: 1200px;
  margin: 0 auto;
  background-color: #5f3f75;
  border-radius: 6px;
  padding: 10px 20px;
  color: #ffffff;
  font-weight: 500;
}
.texto-paragrafo{
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 20px;
  line-height: 1.5rem;
  text-indent: 2rem;
}

.texto-2 {
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px 80px;
}

.card-2-text {
  border: 1px solid #6b5200;
  border-radius: 6px;
  padding: 10px 20px;
}
.card-2-text span {
  color: #5f3f75;
  font-weight: 600;
  font-size: 1.125rem;
}
@media (max-width: 1450px){
  .texto-2{
    grid-template-columns: repeat(2, 1fr) ;
    align-items: center;
    gap: 20px;
    max-width: 500px;
  }
}
@media (max-width: 900px){
  .texto-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 300px;
  }
  .card-2{
    max-width: 600px;
    position: relative;
  }
}
@media (max-width: 800px){
  .texto-2{
    grid-template-columns: repeat(1, 1fr) ;
    align-items: center;
  }
  .texto-paragrafo{
    margin-top: 20px;
    margin-left: 20px;
    text-align: left;
    font-size: 1rem;

  }
  .card-2{
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .texto-2{
    grid-template-columns: 1fr;
  }
  .card-2-img-top{
    max-width: 150px;
  }
  .card-2-text{
    font-size: 0.8rem;
  }
  .card-2-text span{
    font-size: .9rem;
  }
}
